.gridCont {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.centerText {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
