li {
  list-style-type: none;
  display: inline;
}
nav {
  display: flex;
  font-family: "Cabin", sans-serif;
  background: #2b2c2c;
  height: 4rem;
}
body {
  font-family: "Open Sans", sans-serif;
}
.btnn {
  all: unset;
  cursor: pointer;
  color: white;
  width: 1rem;
}
.btnn:focus {
  outline: none;
}
.cartQty {
  font-size: 0.8rem;
  color: white;
  margin-left: 5px;
}
.navbar a {
  color: white !important;
}
