li {
  list-style-type: none;
  display: inline;
}
nav {
  display: flex;
  font-family: "Cabin", sans-serif;
  background: linear-gradient(90deg, #2d1e62 12.01%, #4c2b9e 86.87%);
  color: white;
  height: 4rem;
  margin-bottom: 2rem;
}
body {
  font-family: "Open Sans", sans-serif;
}
.btnn {
  all: unset;
  cursor: pointer;
  color: white;
  width: 1rem;
}
.cartQty {
  font-size: 0.8rem;
  color: white;
  margin-left: 5px;
}
