.footerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
footer {
  background: linear-gradient(90deg, #342e48 12.01%, #3d2e62 86.87%);
  color: white;
  width: 100%;
}

footer a {
  color: #b57fc0;
}

.br {
  border-bottom: 2px solid #644ea5;
  margin: 0 15rem 2rem 15rem;
}

a:hover {
  color: #e375f9;
  text-decoration: none;
}
