.errorPage {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
img {
  width: 60%;
}
.link {
  font-style: none;
  font-size: 1.3rem;
  margin-top: 1rem;
}
