.flex-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}
.btn-masmenos {
  border-radius: 0;
  height: 25px;
  line-height: 16px;
  padding: 0;
  width: 30px;
}
