.flex-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

.counterBtn {
  background-color: #522379;
  border-color: #522379;
}
